<a href="https://colab.research.google.com/github/911-shruti/Python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# writing multiple lines in a single parameter list
print("hi world \nto this world \nt hope you injoy this ")

hi world
 to this world
t hope you injoy this

In [ ]:
# use of apostrophy while using single qotation
print('hi' everyone') # it will not work

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-2-9816be9f83b7>, line 2)

In [ ]:
# this is the solution by adding backslash
print('hi\' everyone')

hi' everyone

In [ ]:
# comments: explaination refrence for programmers themselves about program
"""
  there are 2 types
 1. Single line(#---)
 2. Multiple line comments("""----""")
  """

In [ ]:
# Variables : containers in memory used to store values
a = "hello"
print(a)
""" rules to create variables
1. python is case sensitive.
2. no space between name either underscore(_) or capitalization of words
3. no variable name will start from special no. or symbol, but can use no.s in end of the name.
"""

hello

In [ ]:
# data-types & user-input
"""
text type:String(str)
numeric :integers(int), floating points(float), complex
sequence types: list tupple and range
mapping type: dictionaries(dict)
set type: set, frozenset
boolean type: bool
binary type: bytes , bytearray,memoryview
none type: none
"""
# user input : to ask user for input, defoult data type is String
name = input("enter your name here:")
age = int(input("enter your age here: "))
length = float(input("enter length  of rectangle here:"))
exp1 = eval(input("enter any equation here:"))
# evalute help us to solve any expression we give(3+5)or (print(hello world))
name,age,length,exp1

enter your name here:Shruti
enter your age here: 22
enter length  of rectangle here:4.66
enter any equation here:print("hello world")
hello world

('Shruti', 22, 4.66, None)

In [ ]:
# typecasting: conversion of one data type into another
"""  there are 2 types
1.Implicit: where the python itself converts a datatype into another
2.Explicit: where the user converts one datatype into another
"""

name = 'john'
print(type(name))
age = 23
print(type(age))

# implicit
a = 123
b = 123.5
c = a+b
print(type(a))
print(type(b))
print(type(c))

# explicit
d = '123'
print(type(d))
d = int(d)
f = d+b
print(type(d))
print(type(f))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# wap to display a persons name, age and address in three different lines
name = input("enter your name here:")
age = int(input("enter your age here: "))
address = input("enter your address here:")
print(name)
print(age)
print(address)

enter your name here:shruti
enter your age here: 2
enter your address here:rewa
shruti
2
rewa

In [ ]:
from re import A
# write a program to swap 2 variables
# with temporary variable
a = int(input("enter a:"))
b = int(input("enter b:"))
temp = a
a=b
b=temp
print(a)
print(b)
# method 2
a,b = b,a
# left,right = right,left
print(a)
print(b)

enter a:3
enter b:4
4
3
3
4

# Object Oriented Programming